* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.jumbotron {
	background-image: url(./images/bg.jpg);
}
h3 {
	text-align: center;
}

.pre-footer > div {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.pre-footer {
	background-color: #2C3333;
	color: white;
}